@import "tailwindcss";

@theme {
  /* Simple color definition */
  --color-primary: #3a86ff;

  /* Color palette with shades */
  --color-navy: #3b4d66;
  --color-bgColor: #313e51;
  --color-light-orange: #fff1e9;
  --color-light-bluish: #abc1e1;
  --color-light-green: #e0fdef;
  --color-lighter-green: #ebf0ff;
  --color-lighter-orange: #f6e7ff;
  --color-green: #26d782;
  --color-green-two: #26d782;
  --color-purple: #a729f5;
  --color-purple-light: #ae6bd8;
  --color-purple-lighter: #f6e7ff;

  /* Color with alpha support */
  --color-accent: 131 56 236; /* RGB values without commas */
  --font-main: var(--font-Rubik);
}
body {
  /* background-color: #e6beffba; */
}
