@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Dark theme */
  --color-primary: #3a86ff;

  --color-navy: #3b4d66;
  --color-bgColor: #313e51;
  --color-light-orange: #fff1e9;
  --color-light-bluish: #abc1e1;
  --color-light-green: #e0fdef;
  --color-lighter-green: #ebf0ff;
  --color-lighter-orange: #f6e7ff;
  --color-green: #26d782;
  --color-green-two: #26d782;
  --color-purple: #a729f5;
  --color-purple-light: #ae6bd8;
  --color-purple-lighter: #f6e7ff;

  /* Light theme */
  --color-bg-light: #f4f6fa;
  --color-topicBg-light: #ffffff;
  --color-text-light: #313e51;
  --color-grey-navy: #626c7f;
  --color-icon-bgcolor: #f6e7ff;
  --color-white: #ffffff;
  --color-light-grey: #f4f6fa;

  /* Color with alpha support */
  --color-accent: 131 56 236; /* RGB values without commas */
  --font-main: var(--font-Rubik);
}
